SNOWFLAKE_USER="username"
SNOWFLAKE_PASSWORD="password"
SNOWFLAKE_ACCOUNT="snowflake_account"
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=HOSPITAL_PRICES
SNOWFLAKE_SCHEMA=RAW_DATA
DBT_PROFILES_DIR=.
